<!doctype html>
<html lang="en" ng-app="portfolioApp">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <!-- My JS -->
    <script src="js/app.js"></script>
    <title>Hello, world!</title>
</head>
<body ng-controller="PortfolioController">
<br/>
<div class="container">
    <div class="row">
        <div class="col">
        <div class="alert alert-primary" role="alert">
            Portfolio Dashboard!
        </div>
        </div>
    </div>
    <br/>
    <!-- form to accept name -->
    <form novalidate name="userInputForm">
        <div class="form-group row">
            <div class="input-group col-8 offset-2">
                <input type="text" class="form-control" placeholder="Enter the username"
                       aria-label="Enter the username" aria-describedby="basic-addon2" ng-model="user.name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" ng-click="fetchDetails()">Fetch</button>
                </div>
            </div>
        </div>
    </form>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>