{% extends "base.html" %}

{% load static %}

{% block title %} Home Page {% endblock %}

{% block content %}
<br/>
<div class="row">
    <div class="col-10 offset-1">
        <div class="alert alert-success" role="alert">
            Hey {{ user }}! Here is your portfolio!
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-1 offset-10" align="right">
        <i class="fas fa-plus-square" data-toggle="modal" data-target="#addStockToPortfolio"></i>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Stock</th>
                <th scope="col">Current Price</th>
                <th scope="col">Average Price</th>
                <th scope="col">No. of Stocks</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_portfolio %}
            <tr>
                <td>{{ data.stock_name }}</td>
                <td>${{ data.current_price  | floatformat:2 }}</td>
                <td>${{ data.purchase_price | floatformat:2 }}</td>
                <td>{{ data.no_of_stocks }}</td>
                <td>
                    <form action="/delete/{{ data.stock_id }}">
                        {% csrf_token %}
                        <div align="right">
                        <a class="btn btn-success" href="/stocks/{{ data.user_id }}/{{ data.stock_id }}"
                           role="button">View Details</a>
                        <input class="btn btn-dark" type="submit" value="Remove">
                        </div>
                    </form>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal to add to portfolio -->
<div class="modal fade" id="addStockToPortfolio" tabindex="-1" role="dialog" aria-labelledby="addStockToPortfolioTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStockToPortfolioTitle">Add Stock to Portfolio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/stock/" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ add_stock_form.as_p }}
                    <div class="container">
                        <div class="row">
                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       data-target="#datetimepicker1" name="purchase_time" >
                                <div class="input-group-append" data-target="#datetimepicker1"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker({
                                        defaultDate: new Date(),
                                        format: 'YYYY-MM-DD HH:MM:ss'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Stock</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}