{% extends "base.html" %} 

{% load static %}

{% block title %} Login {% endblock %} 

{% block content %}

<form action="{% url 'portfolioManager:login' %}" method="post">
    {% csrf_token %} 
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                    <div class="card">
                        <div class="card-header bg-info">
                            Login
                        </div>
                        <div class="card-body">
                            {{ login_form.username }}
                            <br />
                            {{ login_form.password }}
                            <br />
                            <div align="center">
                                <input class="btn btn-dark" type="submit" value="Login">
                            </div>
                            <span><a href="/user_registration">Register</a></span>
                            <br/>
                            <span>Forgot Password</span>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</form>

{% endblock %}